.main-chat
  .header
    .leftside
      .leftside__title
        = @group.name
      %ul.leftside__members
        Member:
        - @group.users.each do |user|
          = user.name
    .rightside
      .rightside__button
        = link_to edit_group_path(@group) do
          Edit
 
  .messages
    = render @messages

  .form
    .set
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'set__text', placeholder: 'type a message'
        .set__mask
          = f.label :image, class: 'set__mask__image' do
            = icon('fa','image',class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'